.kitchen-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "btn-order"
    "card-order";
}

.nombre-kitchen, .hora-kitchen{
  margin: 0px;
}

.kitchen-box-table{
  text-align: center;
}

.table-kitchen-total{
  text-align: right;
  padding: 20px 0px 20px 0px;
}
.kitchen-box{
  padding: 10px 0px 10px 0px;
}

.btn-order-kitchen {
  grid-area: btn-order;
  margin: 20px;
  display: flex;
	justify-content:center;
	align-items:center;
}

.btn-order-kitchen-delivery, .btn-order-kitchen-send{
  border: none;
  font-size: 16px;
  color: white;
  font-weight: bolder;
  padding: 8px 6px 8px 6px;
  border: 2px solid #b21515;
  background: #efb953;
  color: #b21515;
}

.btn-order-kitchen-delivery {
  border-radius: 15px 0px 0px 15px;
}

.btn-order-kitchen-send {
  border-radius: 0px 15px 15px 0px;
  border-left: 2px;
}

.btn-order-kitchen-delivery:hover {
  background:#31ac0c;
  border: solid #31ac0c;
  color: white;
}

.btn-order-kitchen-send:hover {
  border: solid #b21515;
  background:#b21515;
  color:white;
}


.card-order {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "card-order-container card-order-container2 card-order-container3"
    "card-order-container4 card-order-container5 .";
  grid-area: card-order;
  justify-items: center;
}

.card-order-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nombre-kitchen"
    "hora-kitchen"
    "tabla-kitchen";
  grid-area: card-order-container;
}

.btn-kitchen-send-order{
  border:none;
  background-color: green;
  font-weight: bolder;
  color:white;
  font-size: 16px;
  border-radius: 15px;
  text-align: center;
}

.card-order-container, .card-order-container2, .card-order-container3, .card-order-container4, .card-order-container5 {
  border-radius: 15px;
  padding: 20px;
  height: 250px;
  background-color: #efb953;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.card-order-container2 { grid-area: card-order-container2 }
.card-order-container3 { grid-area: card-order-container3 }
.card-order-container4 { grid-area: card-order-container4 }
.card-order-container5 { grid-area: card-order-container5 }
