body {
  background-color: blanchedalmond;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black;
  height: 320px;
  margin: 160px 20% 160px 20%;
  border-radius: 15px;
}

.imagenLogo {
  width: 200px;
  margin-right: 40px;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
}

.labelInicio {
  margin-top: -60px;
  margin-bottom: 30px;
}

.inputPassword {
  margin-left: 39px;
}

.inputEmail{
  margin-left: 9px;
}

.buttonSubmit {
  border-radius: 17px;
  height: 40px;
  background-color: #b21515;
  border: none;
  color: white;
}

@media only screen and (max-width: 920px) and (min-width: 600px){

  .inputPassword {
    margin-left: 5px;
  }

  .login-page{
    height: 420px;
    flex-direction: column;
  }
  
  .imagenLogo {
    width: 100px;
    margin-top: -50px;
  }

  .labelInicio {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .buttonSubmit{
    margin-top: 20px;
  }
  
  .bodyContainer{
    margin-top: 40px;
  }
}

@media only screen and (max-width: 599px) and (min-width: 350px){

  .login-page {
    margin: 160px 9% 160px 9%;
  }
  .imagenLogo {
    width: 0px;
  }
  .inputPassword {
    margin-left: 5px;
  }
  .buttonSubmit{
    margin-right: 40px;
  }
  
}