.waiter {
  height: 100vh;
  /* background-color: rgb(230 159 19 / 63%); */
  /* background-image: url(../../img/fondo-posible.png); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dataClient {
  display: flex;
  margin: 5px 0px 5px 0px;
}

.order {
  height: 20vmax;
  width: 500px;
  background-color: #e69f13a8;
  border: none;
  border-radius: 15px;
}

.btn-send-order {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px 20px 0px;
}

.btn-order {
  margin: 10px 0px 20px 0px;
}

.btn-order-green, .btn-order-red{
  border: none;
  background: none;
  /* border: 1px;
  background-color: #e69f13;
  border-radius: 10px;
  padding: 10px; */
}


/* .btn-order-green:hover {
  background-color: rgb(56, 172, 56);
}

.btn-order-red:hover {
  background-color: rgb(206, 61, 61);
} */

.btn-roder-waiter {
  border: 1px;
  background-color: #e69f13a8;
  margin: 5px;
  padding: 8px;
  color: #b21515;
  border-radius: 10px;
}

.btn-roder-waiter:hover {
  background-color: #b21515;
  color: white;
}

.menu-orden {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
  color:black;
  font-size: .875rem;
  text-align: center;
  background-color: #FEE253;
}

.temp-waiter {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 40px;
}

.text-order{
  margin: 0px;
}

.side {
  width: 40%;
  /* background-color: burlywood; */
}

.padre {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.img-product {
  width: 70px;
  border-radius: 10px;
}

.order-container-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.order-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 12vw;
  height: 16vw;
  margin: 10px 0;
  font-size: .9em;
  color: #b21515;
  text-align: center;
  background-color: #e69f13a8;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.btn--order {
  background: #b21515;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  color: white;
  width: 80px;
}

.btn-order-container-more, .btn-order-container-less {
  border-radius: 50px;
  background-color: #b21515;
  color: white;
  width: 20px;
  height: 20px;
  padding: 0px 0px;
  border: none;
}

.btn-order-container-less {
  background-color: rgb(206, 61, 61);
}

.btn-order-container-more {
  background-color:rgb(56, 172, 56);
}


.btn-primary{
  background-color: cornflowerblue !important;
}

.btn-order-trash {
  height: 50px;
  width: 50px;
  border: none;
  background: none;
  background-image: url(../../img/icons8-basura.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: center;
  background-position-y: center;
}

.table-order{
  border: none;
  border-radius: 15px;
}

.table-order-title{
  background: #b21515;
  color: white;
  font-size: 18px;
  text-align: center;
}

.table-product-order {
  justify-content: center;
}

.table-order-product{
  text-align: center;
}