.waiter {
  height: 100vh;
  /* background-color: rgb(230 159 19 / 63%);
  background-image: url(../../img/fondo-posible.png); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dataClient {
  display: flex;
  justify-content: space-between;
}

.dataClient-text{
  color: #b21515;
  font-size: 18px;
  font-weight: bold;
}

.name-box {
  width: 400px;
  height: 30px;
  font-weight: bolder;
  background: #efb953;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: #b21515;
}

.box-client-table{
  margin-bottom: 10px;
}

.btn-order-green, .btn-order-red{
  border: none;
  background: none;
  border: 1px;
  background-color: #b21515;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  padding: 10px;
}

.btn-order-green:hover {
  background-color: rgb(56, 172, 56);
}

.btn-order-red:hover {
  background-color: rgb(206, 61, 61);
}

.btn-order-waiter {
  border: 1px;
  background-color: #e69f13a8;
  padding: 8px;
  color: #b21515;
  font-weight: bolder;
  border-radius: 15px 15px 0px 0px;
  width: 150px;
}

.btn-order-waiter:hover {
  background-color: #b21515;
  color: white;
}

.menu-orden {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
  color:black;
  font-size: .875rem;
  text-align: center;
  background-color: #FEE253;
}

.img-product {
  width: 70px;
  border-radius: 10px;
}

.order-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 12vw;
  height: 15vw;
  margin: 10px 0;
  font-size: .9em;
  color: #b21515;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.btn--order {
  background: #b21515;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  color: white;
  width: 80px;
}

.btn-order-trash {
  height: 50px;
  width: 50px;
  border: none;
  background: none;
  background-image: url(../../img/icons8-basura.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: center;
  background-position-y: center;
}

.table-product-order {
  justify-content: center;
}

.table-order-product{
  text-align: center;
}

.padre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "section-side-left section-side-right";
}

.section-side-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.3fr;
  gap: 0px 0px;
  grid-template-areas:
  "box-client-table"
  "order-box-list";
  grid-area: section-side-left;
  margin: 30px;
}

.box-client-table { grid-area: box-client-table; }

.order-box-list {
  display: grid;
  grid-template-columns: fr;
  grid-template-rows: 0.7fr 0fr 0fr;
  gap: 0px 0px;
  grid-template-areas:
    "order"
    "table-order-total"
    "btn-send-order";
  grid-area: order-box-list;
  height: 25em;
}

.order {
  /* background-color: #e69f13a8; */
  font-size: 18px;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}

.table-order-total {
  grid-area: table-order-total;
  height: 30px;
  color: white;
  font-weight: bold;
  background-color: #b21515;
  text-align: center;
  font-size: 18px;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 20px;
}

.btn-send-order {
  grid-area: btn-send-order;
  display: flex;
  justify-content: space-around;
  height: 40px;
  text-align: center;
}

.table-order-titles{
  font-size: 18px;
  text-align: center;
  height: 30px;
}

.table-order-title1, .table-order-title2, .table-order-title3, .table-order-title4{
  color: white;
  background-color: #b21515;
}

.table-order-title1{
  border-radius: 15px 0px 0px 0px
}

.table-order-title4{
  border-radius: 0px 15px 0px 0px
}

.section-side-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "btn-order"
    "order-container-list";
  grid-area: section-side-right;
  margin: 30px;
}

.btn-order {
  grid-area: btn-order;
  /* justify-items:start ; */
  /* margin-left: 10px; */
  display: flex;
  justify-content: space-between;
}

.order-container-list {
  grid-area: order-container-list;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-items: center;
  background-color: #e69f13a8;
  border-radius: 0px 0px 15px 15px;
}

.scroll {
  background: #efb953;
  overflow: auto;
  border-radius: 15px 15px 0 0;
}

@media only screen and (max-width: 920px) and (min-width: 600px){
  .padre {
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
    grid-template-areas:
    "section-side-right"
    "section-side-left";
  }
  .order-container-list {
    grid-area: order-container-list;
    grid-template-columns: repeat(4, 1fr);
  }
  .order-container {
    width: 17vw;
    height: 21vw;
  }
}

@media only screen and (max-width: 599px) and (min-width: 350px){
  .padre {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas:
    "section-side-right"
    "section-side-left";
  }
  .order-container-list {
    grid-area: order-container-list;
    grid-template-columns: repeat(4, 1fr);
  }
  .order-container {
    width: 29vw;
    height: 36vw;
  }
  .text-order {
    font-size: 13px;
  }
  /* .img-product{
    width: 30px;
  } */
}

