.navBar {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-logo title-nav1 title-nav2 btn-sign-out";
  justify-items: last baseline;
  background-color: #e69f13;
}

.nav-logo {
  grid-area: nav-logo;
  width: 60px;
  display: flex;
  justify-content: center;
  margin: 0px 20px 0px 20px;
}

.title-nav1 { grid-area: title-nav1; }
.title-nav2 { grid-area: title-nav2; }

.title-nav1, .title-nav2, .btn-sign-out {
  font-size: 18px;
  color: #b21515;
  text-align: center;
  font-weight: bolder;
  align-items: center;
  padding-top: 15px;
}

.title-nav1:hover, .title-nav2:hover, .btn-sign-out:hover {
  font-size: 18px;
  color: white;
  text-align: center;
  font-weight: bolder;
  align-items: center;
  background-color: #b21515;
}

.btn-sign-out {
  grid-area: btn-sign-out;
  background: none;
  border: none
}
